#main-console, .konsole {
    position: absolute;
    top: 20px;
    left: 20px;
    opacity: 0.8;

    background-color: #111;
    color: #39ff14;
    font-family: "Fira Mono", "Consolas", "Monaco", "monospace";
    font-size: 1rem;
    padding: 1em;
    border-radius: 6px;
    border: 2px solid #222;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    min-height: 200px;
    width: 100%;
    letter-spacing: 1px;
    line-height: 1.5;
    overflow-y: auto;

    display: block;
    /*width: 1000px;*/
    /*min-width: 800px;*/
    margin: 2em auto;
    box-sizing: border-box;

    output {
        all: revert;
        display: block;
        text-align: left!important;

        &.error {
            color: #ff4c4c;
        }
    }
}

#main-console, .console {
    transition: opacity 5s ease;
}

#main-console.fade-out {
    opacity: 0.0;
}

.loading-indicator {
    animation: blink 1s infinite;
    color: #666;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}