/*@import url('../style/presentation.css');*/
/*@import url('https://impress.js.org/css/impress-demo.css');*/

.impress-narve {

    .step {
        position: relative;
        width: 1600px;
        height: 700px;
        min-width: 1600px;
        min-height: 700px;
        /*padding: 40px;*/
        margin: 20px auto;

        box-sizing: border-box;

        font-family: 'PT Serif', georgia, serif;
        font-size: 3em;
        line-height: 1.5;


        > * {
            margin-top: auto;
            margin-bottom: auto;
            align-self: center;
        }

        /*display: flex;*/
        /*flex-direction: column;*/
        /*justify-content: center;*/
        /*align-items: center;*/
        /*min-height: 100vh;*/

    }

    .step:not(.present) {
        opacity: 0.05;
        filter: blur(3px)
    }

}

